@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0 auto;
}

body {
  background-color: white;
}

body::-webkit-scrollbar {
  width: 16px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #081E36;
  /* color of the scroll thumb */
  width: 2px;
}

.socials {
  position: fixed;
  z-index: 120;
  top: 85vh;
  left: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  width: 11vw;
  gap: 1vw;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(12vh);
          transform: translateY(12vh);
}

.socials img {
  height: 100%;
  width: 100%;
  -webkit-filter: drop-shadow(-2px 2px 2px rgba(29, 29, 29, 0.685));
          filter: drop-shadow(-2px 2px 2px rgba(29, 29, 29, 0.685));
}

.navbar {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  position: fixed;
  z-index: 510;
  width: 100vw;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.89);
  -webkit-backdrop-filter: blur(0.75rem);
          backdrop-filter: blur(0.75rem);
  border-bottom: 1px solid rgba(82, 82, 82, 0.333);
}

.navbar .logo {
  padding-right: 0vw;
  padding-left: 1vw;
}

.navbar .navbar-options {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.5vh;
  font-family: 'Bebas Neue', cursive;
}

.navbar .navbar-options a {
  color: #081E36;
  cursor: pointer;
  text-decoration: none;
  font-size: 3.2vh;
  font-family: 'Bebas Neue', cursive;
}

.navbar .navbar-options .main-logo img {
  height: 6.5vh;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #2a2d3a;
}

.container .container-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  background-color: #081e369d;
}

.container .container-texto .logo {
  margin-top: 10vh;
  height: 20vh;
}

.container .container-texto .logo img {
  height: 100%;
}

.container .container-texto .title {
  height: 20vh;
}

.container .container-texto .title img {
  height: 100%;
}

.container .container-texto .texto {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container .slider img {
  width: 100%;
  height: 100%;
}

.container .img1 {
  z-index: 3;
  -webkit-animation: slide1 30s infinite;
          animation: slide1 30s infinite;
}

.container .img2 {
  z-index: 2;
  -webkit-animation: slide2 30s infinite;
          animation: slide2 30s infinite;
}

.container .img3 {
  z-index: 1;
  -webkit-animation: slide3 30s infinite;
          animation: slide3 30s infinite;
}

.container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 90vh;
  color: #ffffff;
  font-size: 6vh;
  z-index: 4;
  position: absolute;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Bebas Neue', cursive;
  background-color: #081e362f;
  padding-bottom: 10vh;
}

.frame2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
  gap: 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0vh;
  padding-bottom: 0vh;
  height: 100vh;
  overflow: hidden;
}

.frame2 .producto {
  margin-top: 10vh;
  height: 70vh;
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 100%;
  color: white;
  font-family: 'Mada', sans-serif;
}

.frame2 .producto .fondo-producto {
  top: 30vh;
  font-weight: 300;
  background-color: #081E36;
  height: 50vh;
  z-index: 20;
  position: absolute;
  border-radius: 4vh;
  width: 100%;
}

.frame2 .producto .titulo-producto {
  font-size: 4vh;
  height: 10vh;
  top: 42vh;
  z-index: 40;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  font-weight: 400;
  font-family: 'Bebas Neue', cursive;
}

.frame2 .producto .descripcion-producto {
  font-size: 2.2vh;
  top: 53vh;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  width: 85%;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  text-align: justify;
  position: absolute;
}

.frame2 .producto .boton-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 50;
  top: 68vh;
  color: #081E36;
  height: 7vh;
  width: 14vw;
  margin-left: 2.7vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  font-family: 'Bebas Neue', cursive;
  border-radius: 3vh;
}

.frame2 .producto .boton-producto .button {
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5vh;
  text-align: center;
  top: 68vh;
}

.frame2 .producto .imagen-producto {
  height: 35vh;
  width: 100%;
  position: absolute;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 7vh;
}

.frame2 .producto .imagen-producto img {
  height: 100%;
}

.frame3 {
  height: 40vh;
  background-color: #052344;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-family: 'Mada', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame3 .servicios {
  height: 20vh;
}

.frame3 .servicios .servicios-logo {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame3 .servicios .servicios-titulo {
  padding-top: 2vh;
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame3 .servicios .servicios-descripcion {
  padding-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 100;
  text-align: center;
  font-size: 1.9vh;
}

.frame4 {
  background-color: #26203b;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-family: sans-serif;
  overflow: hidden;
  font-size: 2.4vh;
  position: relative;
}

.frame4 .fondo {
  position: absolute;
  width: 100vw;
}

.frame4 .fondo img {
  width: 100%;
}

.frame4 .opiniones {
  height: 50vh;
  padding-top: 5vh;
  font-family: 'Mada', sans-serif;
  color: white;
  margin-top: 10vh;
  width: 35vw;
  padding-left: 20vw;
  position: absolute;
}

.frame4 .opiniones .opiniones-titulo {
  font-size: 4.5vh;
  margin-bottom: 3vh;
  width: 30vw;
  padding-right: 5vw;
  font-family: 'Bebas Neue', cursive;
}

.frame4 .opiniones .opiniones-estrellas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5vh;
  padding-right: 10vw;
  width: 10vw;
}

.frame4 .opiniones .opiniones-estrellas img {
  height: 2.5vh;
}

.frame4 .opiniones .opiniones-descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  font-weight: 100;
  padding-right: 5vw;
  height: 40vh;
  padding-top: 0vh;
  font-size: 3vh;
}

.frame4 .opiniones .opiniones-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2vh;
}

.frame4 .opiniones-foto {
  margin-top: 10vh;
  height: 25vw;
  width: 25vw;
  background-color: white;
  border-radius: 50vh;
  position: absolute;
  left: 52vw;
}

.frame4 .opiniones-foto img {
  width: 100%;
}

.frame5 {
  height: 60vh;
  padding-bottom: 20vh;
}

.frame5 .marcas {
  padding-left: 20vw;
  padding-top: 10vh;
  padding-right: 20vw;
}

.frame5 .marcas .marcas-titulo {
  font-size: 4vh;
  font-family: sans-serif;
  font-family: 'Bebas Neue', cursive;
  color: #081E36;
  text-align: center;
}

.frame5 .marcas .marcas-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame5 .marcas .marcas-logos .grupo1 {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame5 .marcas .marcas-logos .grupo2 {
  padding-bottom: 20vh;
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame5 .marcas .marcas-logos img {
  height: 13vh;
}

@-webkit-keyframes slide1 {
  0% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  18% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  22% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  78% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  82% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  98% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}

@keyframes slide1 {
  0% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  18% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  22% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  78% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  82% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  98% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}

@-webkit-keyframes slide2 {
  0% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  18% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  22% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  38% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  42% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  58% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  62% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  78% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  82% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}

@keyframes slide2 {
  0% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  18% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  22% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  38% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  42% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  58% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  62% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  78% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  82% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}

@-webkit-keyframes slide3 {
  0% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  38% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  42% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  58% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  6% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
}

@keyframes slide3 {
  0% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
  38% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  42% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  58% {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  6% {
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
}

.iframe {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iframe iframe {
  width: 50vw;
  height: 60vh;
  border-radius: 2vh;
}

.footer {
  height: 55vh;
  background-color: #081E36;
  color: white;
  overflow: hidden;
}

.footer .title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vh;
}

.footer .detailed {
  padding-top: 1vh;
  font-family: 'Mada', sans-serif;
  font-size: 1.7vh;
}

.footer .subdetailed {
  padding-top: 0.7vh;
}

.footer .detailed2 {
  font-family: 'Mada', sans-serif;
  font-size: 1.7vh;
}

.footer .footer-cuerpo {
  padding-left: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15vh;
  height: 31vh;
}

.footer .footer-cuerpo .marca {
  width: 25vw;
}

.footer .footer-cuerpo .marca .logo {
  height: 6.5vh;
}

.footer .footer-cuerpo .marca .logo img {
  height: 100%;
}

.footer .footer-cuerpo .marca .detailed {
  padding-top: 1vh;
}

.footer .footer-cuerpo .marca .detailed2 {
  padding-top: 1vh;
}

.footer .footer-cuerpo .shop {
  width: 13vw;
}

.footer .footer-cuerpo .about {
  display: inline;
  width: 12vw;
}

.footer .footer-cuerpo .global {
  width: 13vw;
  padding-right: 15vw;
}

.footer .footer-creditos {
  height: 20vh;
  width: 50vw;
  font-size: 1.7vh;
  font-family: 'Mada', sans-serif;
  font-weight: 100;
  border-top: 1px solid rgba(255, 255, 255, 0.384);
  height: 10vh;
  width: 100%;
  padding-left: 4.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-creditos .marca-registrada {
  padding-top: 3vh;
  width: 100%;
}

.footer-main {
  position: relative;
  height: 55vh;
}

.footer-main .footer {
  margin-top: 10vh;
  position: absolute;
  width: 100%;
}

.footer-main .footer-logo {
  position: absolute;
  width: 10vw;
  left: 45vw;
  padding-top: -5vh;
}

.footer-main .footer-logo img {
  width: 100%;
}

.demo {
  background-color: gray;
  height: 100vh;
}

.home-background {
  position: absolute;
  width: 100%;
}

.home-background .homecito {
  height: 100vh;
}

.home-background .homecito1 {
  width: 100%;
  z-index: 100;
  height: 150vh;
}

.home-background .homecito1 .homecito-background {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
  -webkit-filter: blur(7px) grayscale(50%);
          filter: blur(7px) grayscale(50%);
}

.home-background .homecito1 .homecito-background img {
  height: 100%;
  width: 100%;
}

.home-background .homecito2 {
  width: 100%;
  z-index: 100;
  height: 200vh;
}

.home-background .homecito2 .homecito-background {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
  -webkit-filter: blur(7px) grayscale(50%);
          filter: blur(7px) grayscale(50%);
}

.home-background .homecito2 .homecito-background img {
  height: 100%;
  width: 100%;
}

.home-frame1 {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6b6b6b;
}

.home-frame2 {
  position: relative;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

.home-frame2 .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vh;
  font-weight: 100;
  color: rgba(63, 63, 63, 0.89);
}

.home-frame2 .subtitle {
  padding-top: 2vh;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6vh;
  font-weight: 600;
  color: #2b2b2b;
}

.home-frame2 .description {
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.658);
}

.home-frame3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: transparent;
}

.home-frame3 .title {
  padding-top: 8vh;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  color: white;
}

.home-frame3 .button {
  margin-top: 8vh;
  height: 5vh;
  width: 14vw;
  cursor: pointer;
  font-size: 2.2vh;
  background-color: #b80707;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1vh;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.home-frame3 .button a {
  text-decoration: none;
  color: white;
}

.home-frame3 .separador-sector {
  height: 8vh;
}

.home-frame3 .arrow1, .home-frame3 .arrow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.158);
  height: 100%;
  width: 7.7vw;
}

.home-frame3 .sectores-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-frame3 .sectores-main {
  width: 83.6vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-frame3 .sectores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 167.2vw;
  height: 16.72vw;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.home-frame3 .sectores .sector {
  position: relative;
  width: 16.72vw;
  height: 16.72vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-frame3 .sectores .sector:hover .sector-fondo {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home-frame3 .sectores .sector .sector-fondo {
  position: absolute;
  z-index: 100;
  height: 40vh;
  width: 18vw;
  z-index: 10;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: contrast(87%);
          filter: contrast(87%);
}

.home-frame3 .sectores .sector .sector-fondo img {
  height: 100%;
}

.home-frame3 .sectores .sector .title {
  z-index: 20;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  width: 18vw;
  font-weight: 300;
  position: absolute;
  font-size: 4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-frame3 .sectores .sector .icono-sector {
  z-index: 20;
  padding-top: 10vh;
  height: 20vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.home-frame3 .sectores .sector .icono-sector img {
  width: 100%;
  width: 7vw;
}

.home-frame4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 75vh;
  background-color: white;
}

.home-frame4 .title {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 3.3vh;
  color: rgba(36, 36, 36, 0.658);
}

.home-frame4 .home-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1vw;
}

.home-frame4 .home-servicios .home-servicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-frame4 .home-servicios .home-servicio .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
}

.home-frame4 .home-servicios .home-servicio .logo img {
  height: 100%;
}

.home-frame4 .home-servicios .home-servicio .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.8vh;
}

.home-frame4 .home-servicios .home-servicio .description {
  padding-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.664);
  font-size: 1.6vh;
  line-height: 2.4vh;
}

.home-frame4 .home-servicios .home-servicio .button {
  margin-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.5vw;
  font-size: 1.4vh;
  height: 3.5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 1vh;
  background-color: #b80707;
}

.contadores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.contadores .contador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6vw;
  color: white;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contadores .contador .signo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  font-weight: 600;
  height: 100%;
}

.contadores .contador .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6vw;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contadores .contador .numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 600;
  height: 100%;
}

.home-frame6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: white;
  height: 50vh;
  padding-left: 20vw;
  padding-right: 20vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25vh;
  margin-bottom: -10vh;
}

.home-frame6 .title {
  margin-top: 3vw;
  margin-bottom: 1vw;
  color: rgba(0, 0, 0, 0.61);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1vw;
}

.home-frame6 .home-marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-frame6 .home-marcas .marca {
  margin: 0;
  width: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-frame6 .home-marcas .marca img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */