@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@300&display=swap");
* {
  margin: 0 auto;
}

body {
  background-color: white;
}

.socials {
  cursor: pointer;
  position: fixed;
  z-index: 500;
  top: 85vh;
  left: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  width: 11vw;
  gap: 1vw;
}

.socials img {
  height: 100%;
  width: 100%;
  -webkit-filter: drop-shadow(-2px 2px 2px rgba(29, 29, 29, 0.685));
          filter: drop-shadow(-2px 2px 2px rgba(29, 29, 29, 0.685));
}

.navbar {
  -webkit-transition: top ease-in-out 0.5s;
  transition: top ease-in-out 0.5s;
  position: fixed;
  z-index: 510;
  width: 100vw;
  height: 8.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.89);
  -webkit-backdrop-filter: blur(0.75rem);
          backdrop-filter: blur(0.75rem);
  border-bottom: 1px solid rgba(82, 82, 82, 0.333);
}

.navbar .logo {
  padding-right: 0vw;
  padding-left: 1vw;
}

.navbar .navbar-options {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.1vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar .navbar-options a {
  cursor: pointer;
  text-decoration: none;
  color: #081E36;
}

.navbar .navbar-options .main-logo img {
  height: 4.55vh;
}

.header {
  font-family: 'Bebas Neue', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 67vh;
  padding-top: 10vh;
  position: relative;
  width: 100%;
}

.header .imagen-contacto {
  height: 20vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10vh;
}

.header .imagen-contacto img {
  height: 100%;
}

.header .texto {
  padding-left: 30vh;
  padding-right: 30vh;
  height: 25vh;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.header .texto .texto-header1 {
  font-size: 4vh;
  margin-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.header .texto .texto-header1 p {
  text-align: center;
}

.header .texto .texto-header2 {
  margin-top: 0.5vh;
  font-family: 'Mada', sans-serif;
  font-weight: 300;
  margin-right: 20vw;
  margin-left: 20vw;
  font-size: 2.6vh;
  text-align: center;
}

.main-seccion {
  height: 150vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.904);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -10vh;
}

.seccion1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20vh;
  margin-right: 20vw;
  margin-left: 20vw;
  gap: 2.5vw;
}

.seccion1 .formulario-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33vw;
}

.seccion1 .formulario-contacto .tiempos {
  padding-left: 1vw;
  padding-top: 8vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: justify;
  line-height: 4.5vh;
}

.seccion1 .formulario-contacto .title {
  color: black;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
  width: inherit;
  margin-bottom: 2vh;
  text-align: justify;
}

.seccion1 .formulario-contacto .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vh;
}

.seccion1 .formulario-contacto .formulario .send {
  width: 33vw;
  padding-top: 2vh;
  display: inline-block;
  margin: 0;
  padding-bottom: 5vh;
}

.seccion1 .formulario-contacto .formulario .send button {
  text-decoration: none;
  width: 7vw;
  height: 6vh;
  border-radius: 1.5vh;
  border: 0;
  color: white;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: #0d529D;
}

.seccion1 .formulario-contacto .formulario ::-webkit-input-placeholder {
  color: #3d3d3d;
}

.seccion1 .formulario-contacto .formulario :-ms-input-placeholder {
  color: #3d3d3d;
}

.seccion1 .formulario-contacto .formulario ::-ms-input-placeholder {
  color: #3d3d3d;
}

.seccion1 .formulario-contacto .formulario ::placeholder {
  color: #3d3d3d;
}

.seccion1 .formulario-contacto .formulario .input-border {
  padding-top: 2vh;
  border-bottom: 1px solid rgba(99, 99, 99, 0.329);
  height: 5vh;
  width: 100%;
}

.seccion1 .formulario-contacto .formulario input {
  font-size: 2.5vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  outline: none;
  height: 4vh;
  background-color: transparent;
  border: 0;
  color: #292929;
  width: 100%;
}

.seccion1 .formulario-contacto .formulario input:focus {
  border: none;
}

.seccion1 .formulario-contacto .formulario textarea {
  padding-top: 1vh;
  width: 35vw;
  height: 20vh;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgba(99, 99, 99, 0.295);
  font-size: 2.5vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  background-color: transparent;
  overflow: hidden;
}

.seccion1 .descripcion-contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22vw;
}

.seccion1 .descripcion-contacto {
  padding-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  width: 25vw;
  font-family: "Montserrat", sans-serif;
  gap: 1vh;
}

.seccion1 .descripcion-contacto .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.seccion1 .descripcion-contacto .detailed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2vh;
}

.seccion1 .descripcion-contacto .detailed-info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion1 .descripcion-contacto .detailed-info .icons .icon {
  height: 4vh;
}

.seccion1 .descripcion-contacto .detailed-info .descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.seccion1 .descripcion-contacto .detailed-info .descriptions .text {
  font-size: 2.2vh;
  height: 4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  padding-left: 1vw;
  width: 25vw;
}

.seccion1 .descripcion-contacto .detailed-info .icon {
  height: 4vh;
}

.seccion1 .descripcion-contacto .detailed-info .icon img {
  height: 100%;
}

.seccion1 .descripcion-contacto .title {
  font-size: 2.5vh;
  width: 25vw;
  text-align: left;
  padding-left: 1vw;
  color: #0d529D;
}

.seccion1 .iframe {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion1 .iframe .title-iframe {
  display: none;
  margin: 0;
  padding-top: 2vh;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2vh;
  height: 5vh;
  margin-bottom: 10vh;
  margin-bottom: 10vh;
  font-size: 2vw;
  width: 30vw;
}

.seccion1 .iframe .lista {
  width: 33vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: -40px;
  text-align: right;
  gap: 0.5vw;
  padding-bottom: 5vh;
}

.seccion1 .iframe .lista li {
  color: white;
  font-size: 1.7vw;
  width: 6vw;
  background-color: #0b103b;
  border-radius: 1vh;
  height: 4vh;
  text-align: center;
}

.seccion1 .iframe .lista li a {
  width: 100%;
}

.seccion1 .iframe .lista li a:link,
.seccion1 .iframe .lista li a:visited,
.seccion1 .iframe .lista li a:active {
  text-decoration: none;
  color: white;
}

.seccion1 .iframe .mapouter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  width: 33vw;
  margin-right: 2vw;
  margin-bottom: 15vh;
  border-radius: 2vh;
}

.seccion1 .iframe .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  border-radius: 2vh;
}

.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20vh;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 15vh;
  overflow: hidden;
  position: relative;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.about .imagen-about {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.about .imagen-about img {
  margin: 0;
  width: 30vw;
  border-radius: 50vh;
}

.about .descripcion-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .descripcion-about .titulo-descripcion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #0d529D;
}

.about .descripcion-about .titulo-descripcion-segundo {
  width: 100%;
  text-align: right;
  font-size: 4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #0d529D;
}

.about .descripcion-about .texto-descripcion {
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 3.1vh;
  font-family: 'Mada', sans-serif;
  font-weight: 100;
}

.about .descripcion-about .segundo {
  text-align: right;
}

.equipo {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.equipo .titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 6vh;
}

.equipo .sedcards {
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
  height: 60vh;
}

.equipo .sedcards .sedcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3vh;
  width: 20vw;
}

.equipo .sedcards .sedcard .name {
  font-size: 2.5vh;
  height: 3vh;
  font-weight: 200;
  padding-top: 2vh;
  font-family: "Montserrat", sans-serif;
}

.equipo .sedcards .sedcard .description {
  font-size: 3vh;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  height: 3vh;
}

.equipo .sedcards .sedcard img {
  height: 100%;
  width: 100%;
  border-radius: 3vh;
}

.equipo .info-detallada {
  padding-top: 5vh;
  padding-left: 20vw;
  padding-right: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 4.1vh;
  text-align: center;
}

.equipo .info-detallada .info1 {
  padding-bottom: 2vh;
}

.footer {
  height: 55vh;
  background-color: #081E36;
  color: white;
  overflow: hidden;
}

.footer .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vh;
}

.footer .detailed {
  padding-top: 1vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7vh;
}

.footer .subdetailed {
  padding-top: 0.7vh;
}

.footer .detailed2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7vh;
}

.footer .footer-cuerpo {
  padding-left: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17vh;
  height: 29vh;
}

.footer .footer-cuerpo .marca {
  width: 25vw;
}

.footer .footer-cuerpo .marca .logo {
  height: 6.5vh;
}

.footer .footer-cuerpo .marca .logo img {
  height: 100%;
}

.footer .footer-cuerpo .marca .detailed {
  padding-top: 1vh;
}

.footer .footer-cuerpo .marca .detailed2 {
  padding-top: 1vh;
}

.footer .footer-cuerpo .shop {
  width: 13vw;
}

.footer .footer-cuerpo .about {
  display: inline;
  width: 12vw;
}

.footer .footer-cuerpo .global {
  width: 13vw;
  padding-right: 15vw;
}

.footer .footer-creditos {
  height: 20vh;
  width: 50vw;
  font-size: 1.7vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  border-top: 1px solid rgba(255, 255, 255, 0.384);
  height: 10vh;
  width: 100%;
  padding-left: 4.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-creditos .marca-registrada {
  padding-top: 3vh;
  width: 100%;
}

.footer-main {
  position: relative;
  height: 55vh;
}

.footer-main .footer {
  margin-top: 10vh;
  position: absolute;
  width: 100%;
}

.footer-main .footer-logo {
  position: absolute;
  width: 10vw;
  left: 45vw;
  padding-top: -5vh;
}

.footer-main .footer-logo img {
  width: 100%;
}

.servicios {
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20vw;
  padding-right: 20vw;
  gap: 1vw;
}

.servicios .servicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 19vw;
  height: 40vh;
  z-index: 300;
  overflow: hidden;
  border-radius: 2vh;
  margin-bottom: 5vh;
}

.servicios .servicio:hover .titulo-servicio {
  height: 50%;
}

.servicios .servicio:hover .servicios-descripcion {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.servicios .servicio:hover .fondo-descripcion {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.servicios .servicio:hover .boton {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.servicios .servicio .imagen-fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

.servicios .servicio .imagen-fondo img {
  height: 100%;
  width: 100%;
}

.servicios .servicio .titulo-servicio {
  position: absolute;
  z-index: 350;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 5vh;
  background-color: rgba(0, 0, 0, 0.021);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.servicios .servicio .servicios-descripcion {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 360;
  color: white;
  font-size: 2.4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 83%;
  width: 17vw;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-filter: opacity(0%);
          filter: opacity(0%);
}

.servicios .servicio .fondo-descripcion {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 320;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-filter: opacity(0%);
          filter: opacity(0%);
}

.servicios .servicio .fondo-descripcion .azul {
  background-color: #081e36bf;
  position: absolute;
  height: 50%;
  width: 100%;
}

.servicios .servicio .boton {
  height: 95%;
  width: 19vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 330;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-filter: opacity(0%);
          filter: opacity(0%);
}

.servicios .servicio .boton .boton-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 3vh;
  color: #081E36;
  background-color: white;
  width: 15vw;
  height: 5vh;
  border-radius: 2vh;
}

.servicios .servicio .boton .boton-texto a {
  cursor: pointer;
  text-decoration: none;
}

.servicios .servicio .boton .boton-texto a:active {
  color: #081E36;
}

.servicios .servicio .boton .boton-texto a:visited {
  color: #081E36;
}

.categoria {
  height: 100vh;
  font-family: 'Bebas Neue', cursive;
  font-size: 10vh;
  color: #081E36;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 20vh;
}

.productos .producto {
  width: 18vw;
  margin-top: 5vh;
  height: 65vh;
  border-radius: 2vh;
  background-color: #081E36;
}

.categoria2 {
  height: 100vh;
  background-color: gray;
}

.servicios2 {
  position: relative;
  padding-top: 15vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 30vh;
  margin-bottom: -10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #d8d8d8a1;
}

.servicios2 .servicio2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45.5vw;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  -webkit-box-shadow: -5px 5px 50px #46464681;
          box-shadow: -5px 5px 50px #46464681;
}

.servicios2 .servicio2 .logo-servicio2 {
  margin-top: 5vh;
  height: 14vh;
}

.servicios2 .servicio2 .logo-servicio2 img {
  height: 100%;
}

.servicios2 .servicio2 .titulo-servicio2 {
  margin-top: 3vh;
  font-size: 3.5vh;
  font-weight: 400;
  color: #474747;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.servicios2 .servicio2 .descripcion-servicio2 {
  margin-top: 3vh;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  font-size: 1.84vh;
  line-height: 3.3vh;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.fondo-contacto {
  position: fixed;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.fondo-contacto img {
  width: 100%;
}

.fondo-servicios2 {
  position: fixed;
  margin: 0;
  width: 100%;
}

.fondo-servicios2 img {
  width: 100%;
}

.fondo-servicios1 {
  position: fixed;
  margin: 0;
  width: 100%;
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
}

.header-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 77vh;
  z-index: 100;
  background-color: rgba(8, 8, 8, 0.575);
}

.header-servicios .fondo-header-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 100%;
}

.header-servicios .fondo-header-servicios img {
  width: 100%;
  -webkit-filter: contrast(90%) blur(2px);
          filter: contrast(90%) blur(2px);
}

.header-servicios .header-titulo {
  color: white;
  position: absolute;
  top: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 5vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header-servicios .header-descripcion {
  color: white;
  position: absolute;
  top: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 5vh;
  margin-right: 15vw;
  margin-left: 15vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 3.5vh;
  line-height: 6vh;
  text-align: center;
}

.main-demo {
  margin-top: 10vh;
  width: 100vw;
  height: 80vh;
  margin-bottom: -10vh;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.815);
}

.main-demo .demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
}

.main-demo .demo iframe {
  border: none;
}

.demo-background {
  position: absolute;
  width: 100%;
}

.demo-background .demo2 {
  width: 100%;
  z-index: 100;
  height: 200vh;
  background-color: goldenrod;
}

.demo-background .demo2 .demo2-container {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
}

.demo-background .demo2 .demo2-container img {
  height: 100%;
  width: 100%;
}

.demo5 {
  position: relative;
  z-index: 150;
  height: 10vh;
  font-size: 6vh;
  color: white;
}

.prueba {
  font-size: 20vh;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.prueba .texto img {
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}

.fondo-prueba {
  position: fixed;
  height: 200vh;
}

.fondo-prueba img {
  height: 100%;
}

.home-frame3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 124vh;
  background-color: transparent;
}

.home-frame3 .title {
  padding-top: 8vh;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  color: white;
}

.home-frame3 .button {
  margin-top: 8vh;
  height: 5vh;
  width: 14vw;
  cursor: pointer;
  font-size: 2.2vh;
  background-color: #b80707;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1vh;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.home-frame3 .separador-sector {
  height: 8vh;
}

.home-frame3 .sectores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 83.6vw;
  height: 16.72vw;
  margin-right: 8.2vw;
  margin-left: 8.2vw;
}

.home-frame3 .sectores .sector {
  position: relative;
  width: 16.72vw;
  height: 16.72vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-frame3 .sectores .sector:hover .sector-fondo {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home-frame3 .sectores .sector .sector-fondo {
  position: absolute;
  z-index: 100;
  height: 40vh;
  width: 18vw;
  z-index: 10;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: contrast(87%);
          filter: contrast(87%);
}

.home-frame3 .sectores .sector .sector-fondo img {
  height: 100%;
}

.home-frame3 .sectores .sector .title {
  z-index: 20;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  width: 18vw;
  font-weight: 300;
  position: absolute;
  font-size: 4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-frame3 .sectores .sector .icono-sector {
  z-index: 20;
  padding-top: 10vh;
  height: 20vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.home-frame3 .sectores .sector .icono-sector img {
  width: 100%;
  width: 7vw;
}

.main-demo4 {
  background-color: #0e0e0e;
  width: 100vw;
  overflow: hidden;
}

.main-demo4 .demo4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  gap: 0.1vw;
  width: 400vw;
}

.main-demo4 .demo4:hover .order1 {
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
}

.main-demo4 .demo4 .order1, .main-demo4 .demo4 .order2, .main-demo4 .demo4 .order3, .main-demo4 .demo4 .order4, .main-demo4 .demo4 .order5, .main-demo4 .demo4 .order6, .main-demo4 .demo4 .order7, .main-demo4 .demo4 .order8, .main-demo4 .demo4 .order9, .main-demo4 .demo4 .order10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 20vw;
  height: 20vw;
  background-color: #141414;
  border-radius: 5px;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.demo2demo {
  height: 20vh;
  background-color: gold;
}

.demo2text {
  height: 20vh;
  font-size: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/*# sourceMappingURL=contacto.css.map */